.container {
    background-color: rgb(251, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
}

h1 {
    text-align: center;
}

.incontainer {
    background-color: white;
}

.p-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 5%;
}

.bottoni {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.nome {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 30%;
}
.treno {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 30%;
}

.eta {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 30%;
}